@import './src/styles/_header.css';
@import './src/styles/_footer.css';
@import './src/styles/_hero.css';
@import './src/styles/_faq.css';
@import './src/styles/_how-it-works.css';
@import './src/styles/_availability.css';
@import './src/styles/_reviews.css';
@import './src/styles//_gallery.css';
@import './src/styles//_faq.css';
@import './src/styles//_order.css';
@import './src/styles/_scroll-up-button.css';
@import './src/styles/_lang.css';
@import './src/styles/_story.css';
@import './src/styles/_benefits.css';
@import './src/styles/_comparison.css';
@import './src/styles/_mini-test.css';

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f5f9;
  overflow-x: hidden;
}

[data-animate] {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}

[data-animate].visible {
  opacity: 1;
  transform: translateY(0);
}