.gallery {
  padding: 40px 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.gallery__title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.swiper {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  width: 700px;
  height: 500px;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-slide img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.swiper-slide img:hover {
  transform: scale(1.05);
}

.swiper-button-next,
.swiper-button-prev {
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  color: black;
  z-index: 10;
}


.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

@media (max-width: 480px) {
  .swiper {
    padding-bottom: 0;
  }

  .swiper-slide img {
    max-height: 400px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 32px;
    height: 32px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 14px;
  }
  .swiper-pagination {
    bottom: 32px !important;
  }
}
